@using Newtonsoft.Json.Linq;
@{ int count = 0; }

<ul class="animal-list">
    @*loop through the properties of the 'cards' object found in the content*@
    @foreach (JProperty card in (JToken)Model.Object("cards"))
    {
        <li>
            @{
                string key = card.Name;

                if (!key.StartsWith("jcr:"))
                {

                    @*and cast any property not starting with 'jcr:' to an animalcard component*@
                    @Html.Partial("Components/_AnimalCard", new CmsComponentModel
                    {
                        cms = new ContentHelper(card.Value),
                        key = "cards/" + key
                    })

                    ++count;

                }
            }
        </li>
    }

    @*optional: allows to add more items of the same type on the page
      to allow arbitrary items, use a container component (e.g. parsys)
      see Web.config -> appSettings ->cmsAllowComponentsInsertion *@
    @if (Cms.AllowComponentsInsertion)
    {
        <li>
            @Html.Partial("Components/_AnimalCard", new CmsComponentModel {
                cms = new ContentHelper(new JObject()),
                key = "cards/card" + count
            })
        </li>
    }
</ul>
