<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- start CMS/RAPID settings -->
      <!-- see Utils/Cms.cs for usage -->
      <add key="cmsAuthoring" value="true" />
      <add key="cmsMirror" value="sample-zoo-dotnet" />
      <add key="cmsHost" value="http://localhost" />
      <add key="cmsPort" value="4502" />
      <add key="cmsRequiresAuthentication" value="true" />
      <add key="cmsAllowComponentsInsertion" value="true" />
      <add key="cmsUser" value="admin" />
      <add key="cmsPass" value="admin" />
      <add key="cmsImgPlaceholder" value="/libs/cq/ui/widgets/themes/default/placeholders/img.png" />
      <!-- {0}: cmsOrigin {1}: cmsMirror, {2}: cms content context (optional, e.g. /en/us), {3}: current action, {4}: content key (optional)-->
      <add key="cmsContentFormat" value="{0}/content/{1}{2}/{3}/jcr:content/{4}.infinity.json?wcmmode=disabled" />
      <!-- {0}: cmsOrigin {1}: cmsMirror, {2}: cms content context (optional, e.g. /en/us)-->
      <add key="cmsRapidScript" value="{0}/bin/~rapid/edit.{1}{2}" />
    <!-- end CMS/RAPID settings -->
    
    
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>